*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/config.gradle.kts
/app/src/main/java/app/api/categories/configuration
